.unitMeasureButtonContent {
	background-color: #e5fff3;
	border: 1px solid #e5fff3;
	border-radius: 4px;
	width: 100%;
	min-width: 148px;
}
.unitMeasureMinQtyAndUnit {
	color: #00ac5a;
}
.unitMeasureInformations {
	max-width: 178px;
	min-height: 40px;
	margin-right: auto;
}
.containerUnitMeasurePrice {
	border: 1px solid #dadedc;
	border-radius: 6px;
	box-shadow: 0px 0px 1px rgba(86, 115, 101, 0.15), 0px 2px 4px rgba(86, 115, 101, 0.15);
	min-width: 506px;
}
.unitMeasureTxt {
	font-size: 16px;
	line-height: 24px;
	color: #36403b;
}
.contentDinamicUnitMeasureText {
	min-width: 254px;
}
.unitDinamicTextInfo {
	font-size: 12px;
	color: #5d6561;
	display: initial;
	line-height: 16px;
}

@media only screen and (min-width: 1025px) {
	.customSVGPackage,
	.customSVGBox {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.customSVGPackage,
	.customSVGBox {
		display: none;
	}
	.containerUnitMeasurePrice {
		display: flex;
		min-width: unset;
		flex-direction: column;
	}
	.contentDinamicUnitMeasureText {
		min-width: unset;
		padding: 0;
		width: 100%;
	}
	.contentSVGUnitMeasure {
		display: none;
	}
	.unitMeasureTxt {
		display: flex;
		flex-direction: row;
		align-items: center;
		white-space: pre-wrap;
	}
	.unitMeasureTxt::before {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7883 2.07007L0 8.53619L10.2117 15.0024L32 8.53619L21.7883 2.07007Z' fill='%23FFB655'/%3E%3Cpath d='M10.2117 31.9996L0 25.5335V8.53516L10.2117 15.0013V31.9996Z' fill='%23FFB655'/%3E%3Cpath d='M10.2124 31.9996L32.0007 25.5335V8.53516L10.2124 15.0013V31.9996Z' fill='%23FFCE8E'/%3E%3Cpath d='M18.8936 9.31848L8.68192 2.85229L0 8.5351L10.2117 15.0013L18.8936 9.31848Z' fill='%23FFE7C6'/%3E%3Cpath d='M21.6628 6.46612L11.4512 0L21.7879 2.06944L31.9996 8.53556L21.6628 6.46612Z' fill='%23FFE7C6'/%3E%3Cpath d='M12.9377 28.3764L29.2749 23.5148V18.8027L12.9377 23.6643V28.3764Z' fill='%2300AC5A'/%3E%3Cpath d='M18.2964 23.2803C18.0297 23.2803 17.8135 23.4965 17.8135 23.7632V25.1316C17.8135 25.3983 18.0297 25.6145 18.2964 25.6145C18.5631 25.6145 18.7793 25.3983 18.7793 25.1316V23.7632C18.7793 23.4965 18.5631 23.2803 18.2964 23.2803Z' fill='white'/%3E%3Cpath d='M24.7056 21.3164C24.4389 21.3164 24.2227 21.5326 24.2227 21.7993V23.1678C24.2227 23.4345 24.4389 23.6507 24.7056 23.6507C24.9722 23.6507 25.1884 23.4345 25.1884 23.1678V21.7993C25.1884 21.5326 24.9722 21.3164 24.7056 21.3164Z' fill='white'/%3E%3Cpath d='M26.1304 20.9294C25.8637 20.9294 25.6475 21.1457 25.6475 21.4123V22.7808C25.6475 23.0475 25.8637 23.2637 26.1304 23.2637C26.397 23.2637 26.6133 23.0475 26.6133 22.7808V21.4123C26.6133 21.1457 26.397 20.9294 26.1304 20.9294Z' fill='white'/%3E%3Cpath d='M27.5557 20.5439C27.289 20.5439 27.0728 20.7602 27.0728 21.0268V22.3953C27.0728 22.662 27.289 22.8782 27.5557 22.8782C27.8223 22.8782 28.0385 22.662 28.0385 22.3953V21.0268C28.0385 20.7602 27.8223 20.5439 27.5557 20.5439Z' fill='white'/%3E%3Cpath d='M14.6687 24.3601C14.402 24.3601 14.1858 24.5763 14.1858 24.843V26.2114C14.1858 26.4781 14.402 26.6943 14.6687 26.6943C14.9354 26.6943 15.1516 26.4781 15.1516 26.2114V24.843C15.1516 24.5763 14.9354 24.3601 14.6687 24.3601Z' fill='white'/%3E%3Cpath d='M16.0637 24.0164C15.797 24.0164 15.5808 24.2326 15.5808 24.4993V25.8677C15.5808 26.1343 15.797 26.3506 16.0637 26.3506C16.3304 26.3506 16.5466 26.1343 16.5466 25.8677V24.4993C16.5466 24.2326 16.3304 24.0164 16.0637 24.0164Z' fill='white'/%3E%3Cpath d='M20.8186 22.5007C20.5519 22.5007 20.3357 22.7169 20.3357 22.9836V24.352C20.3357 24.6187 20.5519 24.8349 20.8186 24.8349C21.0853 24.8349 21.3015 24.6187 21.3015 24.352V22.9836C21.3015 22.7169 21.0853 22.5007 20.8186 22.5007Z' fill='white'/%3E%3Cpath d='M22.1836 22.1511C21.9169 22.1511 21.7007 22.3673 21.7007 22.634V24.0024C21.7007 24.2691 21.9169 24.4853 22.1836 24.4853C22.4503 24.4853 22.6665 24.2691 22.6665 24.0024V22.634C22.6665 22.3673 22.4503 22.1511 22.1836 22.1511Z' fill='white'/%3E%3C/svg%3E%0A");
		display: flex;
		width: 43px;
		height: 32px;
		align-items: center;
		justify-content: flex-start;
		background-repeat: no-repeat;
		padding-right: 16px;
	}
	.unitDinamicTextInfo {
		padding: 8px 0 16px 0;
	}
	.contentUnitMeasure {
		width: 100%;
	}
	.unitMeasureInformations {
		max-width: 100%;
	}
}
